html, body {
   
     position: absolute;   
     width: 100%;
     height: 100%;
   
     background-image: url("../imagens/universo.png");
     -webkit-perspective: 400;
     z-index: 1;
}

.center{
  
  position: relative;
  width: 100%;
  height: 100%; 

   margin-top: 5px; 
   margin-left: 50px;
}

.menu{

  margin-left: 15px;
  margin-top: 50px;
}

#boton1{

  display:none;

}
#boton2{

  display:none;

}
#boton3{

  display:none;

}
#boton4{

  display:none;

}


.boton{

  padding:5px 10px 5px 10px;
  background-color:#333;
  color:#fff;
  border:2px outset #fff;
  float:left;
  margin-right:10px;
  cursor:pointer;
  
}

.boton:active{

  border:2px inset #fff;

}

.especificacoes {
  color:white;
  font-size:30px; 
}

.especificacoes p {
  text-align: center;
}

.especificacoes h1 {
  text-align: center;
  font-size:22px; 
  text-align:'justify';
}

.especificacoes h2 {
  text-align: center;
  font-size:16px; 
  text-align:'left';
}

.especificacoes h3{
    font-size:18px;
    color:white;
}

.clear{clear:both;}

a:link {
color:#FFFFFF;
text-decoration:none;
font-size:30px; 
}
a:visited {
color:#999999;
text-decoration:none;
}
a:hover {
text-decoration:underline;
font-size:40px; 
color:#0000FF;
}
a:active {
color:#00FF00;
text-decoration:underline;
background-color:#000000;
}

/* ação da animação é dada pela seleção de um radio-buton (que esta formatado e aparenta ser um buton)*/

/* pausa os plantes, cada um desses blocos de código abaixo é responsável por pausar um planeta*/

#boton1:checked ~ #mercurio-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #venus-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #earth-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #earth-orbit > #lua-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #marte-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #jupiter-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #saturno-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #urano-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

#boton1:checked ~ #netuno-orbit{

   -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
      -moz-animationplay-state: paused;
      -ms-animation-play-state: paused;
       -o-animation-play-state: paused;
        animation-play-state: paused;  
}

/* inicia a animaçao caso ela esteja pausada*/

#boton2:checked ~ #earth-orbit{

   -webkit-animation-play-state: running; /* Chrome, Safari, Opera */
      -moz-animationplay-state: running;
      -ms-animation-play-state: running;
       -o-animation-play-state: running;
        animation-play-state: running;  
}


/* aqui os planetas são estilizados*/

#sun {
    

    position: absolute;
    top: 49%;
    left: 50%;

    height: 100px;
    width: 100px;
    margin-top: -40px; 
    margin-left: -64px;

    border-color: orange;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;

    box-shadow: 0 0 128px red;
    z-index: 1;
    
    -webkit-transform: rotateX(90deg);
    -webkit-transform-style: preserve-3d;

}

#mercurio {
    position: absolute;
    top: 0;
    left: 52%;

    height: 15px;
    width: 15px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 10; 
   -webkit-transform-style: preserve-3d ;
}

#venus {
    position: absolute;
    top: 0;
    left: 52%;

    height: 20px;
    width: 20px;
    margin-left: -10px;
    margin-top: -10px;
     z-index: 9; 
    -webkit-transform-style: preserve-3d ;
}

#earth {
    position: absolute;
    top: 0;
    left: 52%;

    height: 35px;
    width: 35px;
    margin-left: -25px;
    margin-top: -20px;
    z-index: 8;
    -webkit-transform-style: preserve-3d ;
}

#lua {
  
    position: absolute;
    top: 0;
    left: 50%;

    height: 10px;
    width: 10px;
    margin-left: -15px;
    margin-top: -20px;
    z-index: 7;
    -webkit-transform-style: preserve-3d ;

}

#marte {
    position: absolute;
    top: 0;
    left: 52%;

    height: 20px;
    width: 20px;
    margin-left: -20px;
    margin-top: -12px;
    z-index: 6;
    -webkit-transform-style: preserve-3d ;
}

#jupiter{
    position: absolute;
    top: 0;
    left: 52%;

    height: 35px;
    width: 35px;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 5;
   -webkit-transform-style: preserve-3d ;
}

#saturno{
    
    position: absolute;
    top: 0;
    left: 52%;

    height: 38px;
    width: 38px;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 4;
   -webkit-transform-style: preserve-3d ;
}

#urano{
    position: absolute;
    top: 0;
    left: 52%;

    height: 38px;
    width: 38px;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 3;
    -webkit-transform-style: preserve-3d ;
}

#netuno{
    position: absolute;
    top: 0;
    left: 52%;

    height: 38px;
    width: 38px;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 2;
    -webkit-transform-style: preserve-3d ;
}

/*  configura a orbita dos planetas */

#mercurio-orbit{
    position: absolute;
    top: 49%;
    left: 50%;

    width: 130px;
    height: 130px;
    margin-top: -55px;
    margin-left: -80px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-transform-style: preserve-3d;
    -webkit-animation: shadow-mercury 3s;
    -webkit-animation: spin-right 3s linear infinite;
     -moz-animation: spin-right 3s linear infinite;
      -ms-animation: spin-right 3s linear infinite;
       -o-animation: spin-right 3s linear infinite;
          animation: spin-right 3s linear infinite;
          
}

#venus-orbit{
    position: absolute;
    top: 48%;
    left: 50%;

    width: 175px;
    height: 175px;
    margin-top: -78px;
    margin-left: -102px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 7s linear infinite;
     -moz-animation: spin-right 7s linear infinite;
      -ms-animation: spin-right 7s linear infinite;
       -o-animation: spin-right 7s linear infinite;
          animation: spin-right 7s linear infinite;
}

#earth-orbit{
    position: absolute;
    top: 47%;
    left: 50%;

    width: 230px;
    height: 230px;
    margin-top: -105px;
    margin-left: -130px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

   -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

#lua-orbit{
    
    position: absolute;
    top: 47%;
    left: 45%;

    width: 35px;
    height: 35px;
    margin-top: -135px;
    margin-left: -10px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

   -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 1s linear infinite;
     -moz-animation: spin-right 1s linear infinite;
      -ms-animation: spin-right 1s linear infinite;
       -o-animation: spin-right 1s linear infinite;
          animation: spin-right 1s linear infinite;
}

#marte-orbit{
    position: absolute;
    top: 46%;
    left: 50%;

    width: 300px;
    height: 300px;
    margin-top: -140px;
    margin-left: -165px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

   -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 15s linear infinite;
     -moz-animation: spin-right 15s linear infinite;
      -ms-animation: spin-right 15s linear infinite;
       -o-animation: spin-right 15s linear infinite;
          animation: spin-right 15s linear infinite;
}

#jupiter-orbit{
    position: absolute;
    top: 45%;
    left: 50%;

    width: 350px;
    height: 350px;
    margin-top: -165px;
    margin-left: -190px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 20s linear infinite;
     -moz-animation: spin-right 20s linear infinite;
      -ms-animation: spin-right 20s linear infinite;
       -o-animation: spin-right 20s linear infinite;
          animation: spin-right 20s linear infinite;
}

#saturno-orbit{
    position: absolute;
    top: 44%;
    left: 50%;

    width: 400px;
    height: 400px;
    margin-top: -190px;
    margin-left: -215px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

   -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 25s linear infinite;
     -moz-animation: spin-right 25s linear infinite;
      -ms-animation: spin-right 25s linear infinite;
       -o-animation: spin-right 25s linear infinite;
          animation: spin-right 25s linear infinite;
}

#urano-orbit{
    position: absolute;
    top: 43%;
    left: 50%;

    width: 470px;
    height: 470px;
    margin-top: -225px;
    margin-left: -250px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

   -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 35s linear infinite;
     -moz-animation: spin-right 35s linear infinite;
      -ms-animation: spin-right 35s linear infinite;
       -o-animation: spin-right 35s linear infinite;
          animation: spin-right 35s linear infinite;
}

#netuno-orbit{
    position: absolute;
    top: 42%;
    left: 50%;

    width: 540px;
    height: 540px;
    margin-top: -260px;
    margin-left: -285px;

    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

   -webkit-transform-style: preserve-3d;
    -webkit-animation: spin-right 45s linear infinite;
     -moz-animation: spin-right 45s linear infinite;
      -ms-animation: spin-right 45s linear infinite;
       -o-animation: spin-right 45s linear infinite;
          animation: spin-right 45s linear infinite;

}

/* regras de animação, que vão dar o movimento as orbitas*/

/*Regra de Animação com webkit- Sentido horário */
@-webkit-keyframes spin-right {

 0% {
    transform: rotateX(-110deg) rotateY(0deg) rotateZ(0deg);  
  }

  100% {
    transform: rotateX(-110deg) rotateY(0deg) rotateZ(-360deg); 
     }

}

/*------------------------------------------------------------------------------------------------ 
 efeitos de luz e sombra em mercúrio
 */

 @-webkit-keyframes shadow-mercury {
  0% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */ }

  25% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */ }

  50% {
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  50.01% {
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  75% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */ }

  100% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */ } }


}


